doctype html
html(lang="en", ng-app="app")
  head
    meta(charset="UTF-8")
    title Prson
    each script in vendorScripts
      script(src=script)
    script(src="assets/scripts/app.js")
    link(rel="stylesheet", href="assets/css/app.css")
  body(ng-controller="MainCtrl")
    h1 Hello!
    json-view(
      obj="obj"
      selected-state-objects="selectedStateObjects"
    )
    .json-nav
      span.zipper {{selectedStateObjects | zipper}}
