.pure-g.vert-g
  .pure-u-1.vert-u-3-5.pure-u-xl-3-5.vert-u-xl-1-1.scroll.json-view-container
    json-view(obj="vm.obj")
  .pure-u-1.vert-u-2-5.pure-u-xl-2-5.vert-u-xl-1-1.pure-g.vert-g
      .pure-u-1-2.vert-u-1-1.pure-u-xl-1.vert-u-xl-1-2.json-panel
        div(json-nav).json-nav
      .pure-u-1-2.vert-u-1-1.pure-u-xl-1.vert-u-xl-1-2.json-panel
        div(json-val).json-nav
