/* reset headers on the home page */
.home-content h1,
.home-content h2,
.home-content h3,
.home-content h4,
.home-content h5,
.home-content h6 {
  margin: 0px;
  text-align: center;
}

.home-content {
  font-weight: 300;
  font-size: 1.2em;
}


/* navbar */

#home_nav > ul > li > a {
  color: #CCC;
}

#home_nav > ul > li > a:hover {
  color: #FFF;
}

#home_nav > ul > li.active > a {
  border-bottom: 2px solid #46E660;
}

#home_nav {
  background-color: #555;
  /*background-color: #313632;*/
}


/* splash header */
.splash {
  background-color: #555;
  color: white;
  text-align: center;
  padding-bottom: 1em;
}

.splash h1 {
  font-size: 10em;
  margin-bottom: 0.2em;
}

.splash small {
  margin-top: 0.5em;
  display: block;
  font-size: 1em;
  color: #999;
}

.splash .pure-button.pure-button {
  font-size: 2em;
  background-color: #46E660;
  color: white;
}


/* info panels */
[class*="about-"] {
  padding-top: 1em;
  padding-left: 2em;
  padding-right: 2em;
  color: white;
  min-height: 32em;
}

[class*="about-"] p {
  text-align: center;
  padding: 0.5em;
  background-color: rgba(0,0,0,0.25);
}

.about-1 { background-color: #35B981; }
.about-2 { background-color: #226AA8; }
.about-3 { background-color: #A2268A; }
.about-4 { background-color: #83736A; }
.about-5 { background-color: #5EA945; }
.about-blank { background-color: #555; }

.home-content h2 {
  border-bottom: 1px solid #DDD;
  margin-left: 2em;
  margin-right: 2em;
  padding-bottom: 0.3em;
}


/* screen shots */
.img-frame {
  margin: 2em;
  text-align: center;
  position: relative;
}

.img-frame img {
  display: block;
  margin: 0px auto;
  box-shadow: 0.3em 0.3em 0.9em #333;
}


/* annotations for keyboard screenshot */
/*.screen-tip {*/
  /*position: absolute;*/
  /*background-color: black;*/
  /*color: white;*/
  /*padding: 0.2em;*/
  /*border: 2px solid white;*/
  /*border-radius: 0.5em;*/
  /*box-shadow: 0.1em 0.1em 0.2em rgba(0,0,0,0.8);*/
  /*font-family: monospace;*/
  /*font-size: 0.7em;*/
  /*transform: rotate(45deg);*/
  /*height: inherit;*/
/*}*/

/*#screen_tip_left {*/
  /*top: 14%;*/
  /*left: 24%;*/
/*}*/

/*#screen_tip_down {*/
  /*top: 14%;*/
  /*left: 31%;*/
/*}*/

/*#screen_tip_up {*/
  /*top: 13%;*/
  /*left: 39%;*/
/*}*/

/*#screen_tip_right {*/
  /*top: 15%;*/
  /*left: 46%;*/
/*}*/

/*#screen_tip_next {*/
  /*top: 19%;*/
  /*left: 56%;*/
/*}*/

/*#screen_tip_prev {*/
  /*top: 18%;*/
  /*left: 64%;*/
/*}*/


/* animation */
.page-content.ng-enter,
.page-content.ng-leave {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  transition: 400ms ease all;
}


.page-content.ng-enter {
  opacity: 0;
  z-index: 1;
  transform: scale(0);
}

.page-content.ng-enter.ng-enter-active {
  opacity: 1;
  transform: scale(1);
}

.page-content.ng-leave {
  transform: translate(0, 0);
  z-index: 2;
}

.page-content.ng-leave.ng-leave-active {
  transform: translate(0, 100%);
}
