/* highlighted objects */

.hovered {
  background-color: #B9F0B0;
}

.selected {
  background-color: #F3B6A0;
}


/* pre-like view */

.json-view {
  white-space: pre;
  background-color: #EEE;
  float: left;
  font-family: monospace, monospace;
  min-width: 100%;
  position: relative;
}


/* make the input box take up the entire space */

.json-input {
  width: 100%;
  height: 100%;
}


/* the code and value panels */

.json-nav {
  height: 100%;
  border: 1px solid grey;
  font-family: monospace, monospace;
  white-space: pre;
  overflow: scroll;
}

.json-panel {
  padding: 1em;
}
