*, *:before, *:after {
  box-sizing: border-box;
}

body {
  padding-bottom: 7.5em;
}

pre {
  background-color: #EEE;
  padding: 0.3em;
  border: 1px solid #BBB;
  overflow-x: scroll;
  cursor: default;
}

.hovered {
  background-color: #B9F0B0;
}

.selected {
  background-color: #F3B6A0;
}

.json-nav {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border-top: 1px solid #BBB;
  width: 100%;
  height: 7.5em;
  background-color: #FFF;
  padding: 0.3em;
}

.zipper {
  font-family: "Courier System", monospace;
  font-size: 0.8em;
}
