/* make room for for the navbar */

.pad-top {
  padding-top: 3em;
}


/* abstract navbar styles */

.navbar {
  position: absolute;
  z-index: 2;
  width: 100%;
  padding: 0px;
  line-height: 3em;
  height: 3em;
}

.navbar > ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  height: 100%;
}

.navbar > ul > li {
  float: left;
  padding-left: 0.3em;
  padding-right: 0.3em;
  height: 100%;
}

.navbar > ul > li.logo {
  font-size: 2em;
}

.navbar > ul > li > a {
  line-height: 0px;
  text-decoration: none;
}


/* primary navbar */

#main_nav > ul > li > a {
  color: #CCC;
}

#main_nav > ul > li > a:hover {
  color: #FFF;
}

#main_nav {
  background-color: #313632;
  background: linear-gradient(to top,#1A1A1A,#313632);
}
