doctype html
html(lang="en", ng-app="app")
  head
    meta(charset="UTF-8")
    title naja
    if process.env.NODE_ENV === 'production'
      script(src="https://code.jquery.com/jquery-2.1.3.min.js")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.7.0/lodash.min.js")
      script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-rc.1/angular.min.js")
      script(src="https://code.angularjs.org/1.4.0-rc.1/angular-route.min.js")
    else
      script(src="/vendor.bundle.js")
    script(src="/bundle.js")
  body(
    ng-controller="ShellController as vm"
    ng-keydown="vm.keyDown($event)"
  )
    noscript
      h1 Javascript is disabled
      p Please enable Javascript to use this site
      p.
        All of the scripts on this site are released under an open source
        license
    .page-content(ng-view)
