doctype html
html(lang="en", ng-app="app")
  head
    meta(charset="UTF-8")
    title Prson
    if process.env.NODE_ENV === 'production'
      script(src="https://code.jquery.com/jquery-2.1.3.min.js")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.7.0/lodash.min.js")
      script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js")
    script(src="bundle.js")
  body(ng-controller="MainCtrl as vm")
    h1 Hello!
    json-view(
      obj="vm.obj"
    )
    .json-nav
      span.zipper {{vm.data.selectedStateObjects | zipper}}
